name: Daily Blog Post

on:
  schedule:
    # هر روز ساعت 9 صبح UTC (اگر ایران +3:30 باشه ساعت 12:30)
    - cron: '0 9 * * *'
  workflow_dispatch:  # این خط باعث میشه بتونی دستی هم اجرا کنی

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run Python Script
      env:
        GEMINI_API_KEY: ${{ AIzaSyAtPtlYFt3ywP_muneh0G2TzxDAZPiI2i8 }}
        WP_URL: ${{ https://arenapc.shop/wp-json/wp/v2/posts }}
        WP_TOKEN: ${{ 
define('JWT_AUTH_SECRET_KEY', '6f#r3HrZ@jbn4+J-[Th>Kn{5%13^Di#4(($d6(gq*.3LXtSNnuO;)ezXBU[M$,VU'); }}
      run: python scripts/generate_post.py
